.footer {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color:var(--background);
  box-sizing: border-box;
}

.player {
  width: 80% !important;
  background-color: var(--background);
  color: var(--text);
}

@media only screen and (max-width: 600px) {
  .player {
    width: 100% !important;
  }
}