:root{
  --text: #ffffff;
  --background: #252C34;
  --backgroundDark: #1D2329;
  --primary: #1363CF;
}
.App {
  min-height: 100vh;
  background-color: var(--backgroundDark);
}

.App-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

